.general{
    background-color: white;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 72px;
    font-weight: bold;
    color: black;
    justify-self: center;
    align-self: center;
}

.content {
    margin-top: 64px;
    justify-self: center;
    align-self: center;
}
