body{
    margin: 0;
    padding: 0;
    font-family:  Helvetica, Arial, sans-serif;
}

.sidebar {
    position: fixed;
    display: block;
    padding: 3% 2%;
}

.sidebar > div > a {
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-weight: 800;
}

.title {
    color: black;
    font-size: 40px;
    font-weight: 800;
    position: absolute;
    bottom: 0;
    padding: 1% 2%;
}

.content {
    margin: auto;

    display: grid;
    grid-template-columns: 47.5% 47.5%;
    column-gap: 5%;
    row-gap: 7.5%;

    width: max(55%, 770px);
    /* width: 55%; */
    /* FIX THIS SHIT */
    padding-top: 10%; 
    padding-bottom: 20%;
}

@media only screen and (max-width: 920px) {
    .content{
        grid-template-columns: 100%;
        width: 60%;
        row-gap: 3%;
    }

    .after-background{
        padding-bottom: 40vh;;
    }
}

.content > p, .content > div {
    text-align: justify;
    margin-top: 0;
    margin-bottom: auto;
    font-size: 18px;
}

.content > img, .content > video {
    max-height: 120%;
    max-width: 100%;
    display: block;
}

.background{
    position:absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

video {
    display: block;
    margin: 0 auto;
}

.after-background{
    padding-top: 100vh;
    padding-bottom: 0;
    /* height: 100%; */
}

.scroller {
    color:antiquewhite;
    font-size: 36px;
    font-weight: 800;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;

    background-color: black;
    border-radius: 100%;
    width: 56px;
    height: 56px;
    text-align: center;

    cursor: pointer;
}